<div class = "container">
  <div class = "row">
    <div class = "right-contents">
      <div class = "page-title-area">
        <h1 class = "text-grey">Sign in</h1>
        <p class = "text-grey">ユーザの新規登録を行います。</p>
        <Hr align = "left" width = "800">
      </div>
        <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :name, class: 'text-grey' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email, class: 'text-grey' %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: 'text-grey' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: 'text-grey' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class = "block">
          <%= f.submit "登録", class: 'btn btn-white' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
